{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="posts card border-primary" style="max-width: 45rem;">
            <div class="card-header">What's on your mind?</div>
            <div class="card-body text-primary">
                <form action={% url 'post' %} method='POST'>
                    {% csrf_token %}
                    <textarea class="post-content" name="content"></textarea>
                    <div class="card-footer bg-transparent border-primary"> 
                        <input type="submit" class="submit-post btn btn-primary"/>
                    </div>    
                </form>
            </div>
        </div>

    {% endif %}
    {% include "network/post_layout.html" %}

{% endblock %}
